{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center">Login</h2>
    {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    {% endif %}
    <div class="border p-4">
        <form method="post">
            {% csrf_token %}
            <label for="email" class="form-label">Email:</label><br>
            <input type="email" id="email" name="email" required class="form-control"><br>
            <label for="password" class="form-label">Password:</label><br>
            <input type="password" id="password" name="password" required class="form-control"><br>
            <p><a class="link-opacity-100" href="{% url 'registration' %}">Register Here !</a></p> <br>
            <button type="submit" class = "btn btn-success">Login</button>
        </form>
    </div>
{% endblock %}